* {
   margin: 0;
   padding: 0;
}

.poppins {
   font-family: 'Poppins', sans-serif;
}

header {
   background:#333333;
   display: flex;
   justify-content: flex-end;
}
main {
   background:#e1e1e133;
}

.header-main {
   display: flex;
   width: 52%;
   justify-content: space-between;
}

.logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo img {
   height: 50%;
}

.menu {
   display: flex;
   font-weight: 600;
   padding: 25px 45px;
   color: #828282;
   font-size: 20px;
}

.menu-item {
   list-style: none;
   margin-left: 50px;
}

.home {
   display: block;
   position: relative;
   height: 100vh;
}
.home-img {
   position: absolute;
   width: 100%;
}
.home-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   width: 100%;
   height: 100vh;
   background: linear-gradient(180deg,  #050505ed, #8d8d8dd6);
}
.info-text {
   margin:40px 0;
   width: 50%;
}
.home-title {
   color: #FFFFFF;
   font-weight: 600;
   font-size: 46px;
   margin-bottom: 15px;
   margin-left: 20px;
}
.home-subtitle {
   color: #BDBDBD;
   font-weight: 600;
   font-size: 28px;
   margin-left: 20px;
}

.home-btn {
   margin: 30px 0;
   border-radius: 20px;
   border: none;
   width: 35%;
   font-weight: 700;
   font-size: 18px;
   text-transform: uppercase;
   color: #fff;
   background:  #BDBDBD;
   padding: 15px 90px;
}

.validate {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.validate-info {
   width: 55%;
   margin: 30px 0;
}

.validate_title {
   font-weight: 600;
   font-size: 30px;
   margin: 10px 0;
   color: #333333;
}

.validate_description {
   font-weight: 500;
   font-size: 20px;
   color: #333333;
}

.email {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image:url(img/at-sign.png);
   background-size: 100% 75%;
   background-repeat: no-repeat;
   height:  300vh;
}
.email-part1 {
   display: flex;
   flex-direction: column;
   width: 60%;
   align-items: center;
}
.part1-info {
   display: flex;
   width: 100%;
   flex-direction: column;
}

.part1-screen {
   display: flex;
   flex-direction: column;
   margin: 30px 0;
}
.screen-first {
   display: flex;
   flex-direction: row;
   height: 50vh;
   width: 85%;
}
.screen-first_fa {
   color: #7d7878;
   font-size: 60px;
   margin-right: 40px;
   margin-top: 20px;
}
.screen-first_div {
   display: block;
   width: 90%;
   background: linear-gradient(180deg,  #291934,
 #955DBD);
}
.screen-first_p {
   font-weight: 500;
   font-size: 22px;
   color: #ffffff;
   text-transform: uppercase;
   padding: 40px 90px;
}
.screen-second {
   display: flex;
   flex-direction: row;
   margin: 50px 0;
}
.fa-at {
   margin-right: 40px;
}
.screen-second_fa {
   color: #7d7878;
   font-size: 50px;
   font-weight: 300;
}
.screen-second_div {
   margin-top: 10px;
}
.screen-second_p {
   color: #4F4F4F;
   font-weight: 500;
   font-size: 17px;
}
