* {
   margin: 0;
   padding: 0;
}

.poppins {
   font-family: 'Poppins', sans-serif;
}

header {
   background:#333332;
   display: flex;
   justify-content: flex-end;
   position: fixed;
   width: 100%;
   z-index: 10;
}

main {
   background:#e1e1e133;
   position: relative;
}


.header-main {
   display: flex;
   width: 52%;
   justify-content: space-between;
   align-items: center;
}

.header-burger {
  display: none;
}

.logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo-img {
   height: 45px;
}

.menu {
   display: flex;
   font-weight: 600;
   padding: 25px 45px;
   color: #828282;
   font-size: 20px;
}

.menu-item {
   list-style: none;
   margin-left: 50px;
}

.menu-item:hover {
   color: #ffffff;
}
footer {
   background-image: url(../img/Footer_image.png);
   background-color: rgba(17, 17, 17, 0.07);
   background-size: 100%;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.at-sing {
   position: absolute;
   width: 35%;
   height: 800px;
   right: 0;
   bottom: 130px;
}

.footer-basis {
   display: flex;
   width: 50%;
   flex-direction: column;
   padding: 50px 0;
}

.basis-info {
   display: block;
   position: relative;
   padding: 150px 0;
}

.basis-text {
   width: 40%;
   position: absolute;
   left: 0px;
}
.basis-text_sense {
   color: #E0E0E0;
   font-size: 18px;
   line-height: 27px;
}

.basis-links {
   display: block;
   position: absolute;
   right: 0px;
}

.basis-links p {
   text-align: right;
}

.basis-link_addition {
   color: #E0E0E0;
   text-decoration: none;
   text-align: right;
   line-height: 50px;
   font-size: 18px;
}

.basis-link_addition:hover {
   cursor: pointer;
   color: #ffffff;
}

.footer-copyright {
   width: 50%;
   border-top: 3px #cccccc1f double;
   padding: 10px 0;
   margin-bottom: 50px;

}

.footer-copyright_text {
   color: #BDBDBD;
   margin-right: 50px;
}

.footer-copyright_link
{
   color: #BDBDBD;
   text-decoration: none;
   margin-right: 50px;
}

.footer-copyright_link:hover {
   color: #ffffff;
}

@media (max-width: 416px) {
   header{
      padding: 5px 0;
   }

  .menu {
    display: none;
  }
  .header-burger {
    display: block;
    cursor: pointer;
    color: #b3b1b1;
    font-size: 30px;
    margin-right: 30px;
  }

   footer {
      background-image: url(../img/Union.png);
      justify-content: flex-start;
   }
   .at-sing {
      display: none;
   }

   .footer-basis {
      width: 100%;
   }

   .basis-info {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .basis-text {
      width: 70%;
      position: absolute;
      top: 30px;
      left: 30px;

   }
   .basis-text_sense {
      font-size: 18px;
      line-height: 27px;
   }

   .basis-links {
      display: block;
      position: absolute;
      bottom: 0px;
      width: 100%;
   }

   .basis-links p {
      text-align: center;
   }

   .footer-copyright {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0;
      margin: 0;
   }

   .footer-copyright_text {
      text-align: center;
      margin: 0;
   }

   .footer-copyright_link {
      margin-top: 10px;
      margin: 0;
   }
}
