* {
   margin: 0;
   padding: 0;
}

.poppins {
   font-family: 'Poppins', sans-serif;
}

.ancor {
   border-top: 55px solid transparent;
   margin-top: -55px;
   padding: 15px;
}

.home {
   display: block;
   position: relative;
   height: 100vh;
   background-image: url(../img/home_bgn.png);
   background-size: 100% 100%;
}

.home-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   width: 100%;
   margin-top: 80px;
   height: 90vh;
}

.info-text {
   width: 50%;
   margin-top: 50px;
}

.home-title {
   color: #FFFFFF;
   font-weight: 600;
   font-size: 48px;
   margin-left: 20px;
}

.home-title2 {
   margin-bottom: 30px;
}

.home-subtitle {
   color: #BDBDBD;
   font-weight: 600;
   font-size: 28px;
   margin-left: 20px;
}

.home-btn {
   margin: 35px 0;
   border-radius: 20px;
   border: none;
   width: 45%;
   font-weight: 700;
   font-size: 20px;
   text-transform: uppercase;
   color: #fff;
   background:  #BDBDBD;
   padding: 20px 90px;
}

.home-btn_fa{
   color: #ffffff;
   margin-left: 10px;
}

.home-btn:hover {
   background: #8252A4;
   color: #ffffff;
}

.description {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.description-info {
   width: 87%;
    margin: 30px 50px 30px 0px;
}

.description_title {
   font-weight: 600;
   font-size: 32px;
   margin: 10px 0;
   color: #333333;
}

.description_description {
   font-weight: 500;
   font-size: 20px;
   color: #333333;
}

.email {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image:url(../img/at-sign.png);
   background-size: 100% 88%;
   background-repeat: no-repeat;
   height: 290vh;
}
.email-part {
   display: flex;
   flex-direction: column;
   width: 60%;
   align-items: center;
}

.part-info {
   display: flex;
   width: 100%;
   flex-direction: column;
}

.part-screen {
   display: flex;
   flex-direction: column;
   margin: 20px 0;
}

.screen-first {
   display: flex;
   flex-direction: row;
   height: 50vh;
   width: 85%;
}

.screen-fa {
   color: #7d7878;
   font-size: 60px;
   margin-right: 40px;
   margin-top: 20px;
}

.screen-first_purple {
   display: block;
   width: 90%;
   background: linear-gradient(180deg,  #291934,
 #955DBD);
}

.screen-exclude {
   display: none;
}


.screen-first_p {
   font-weight: 500;
   font-size: 30px;
   color: #ffffff;
   text-transform: uppercase;
   padding: 40px 90px;
}

.screen-second {
   display: flex;
   flex-direction: row;
   margin: 30px 0;
}
.screen-mobile {
   display: none;
}

.fa-at {
   margin-right: 40px;
}

.screen-second_fa {
   color: #7d7878;
   font-size: 50px;
   font-weight: 300;
}

.screen-second_div {
   margin-top: 10px;
}

.screen-second_li {
   list-style: none;
   color: #4F4F4F;
   font-weight: 500;
   font-size: 17px;
   margin-left: -40px;
}

.email-part2 {
   display: flex;
   align-items: center;
   justify-content: center;
   background: #BDBDBD;
   height:20%;
   width: 100%;
}

.part2-info {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 45%;
   height: 65%;
   padding: 90px 0;
}

.response {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   width: 29%;
   border-radius: 21px;
   background: rgba(255,255,255,0.8);
   box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.3);
}

.response_text {
   font-size: 16px;
   margin: 30px 10px 90px 10px;
   text-align: center;
   font-weight: 600;
}

.response_text_third {
   margin-top: 50px;
}

.response_text_second{
   margin-top:-90px;
}

.response_text_first {
   margin-top: 60px;
}

.response-stars {
   display: block;
   position: absolute;
   bottom: 40px;
}

.response-stars_fa {
   color: #BD615D;
   font-size: 14px;
   margin-right: -4px;
}

.response_date {
   display: block;
   position: absolute;
   bottom: 13px;
   color: #828282;
   font-weight: 400;
   font-size: 13px;
}

.screen-first_green {
   display: block;
   width: 90%;
   background: linear-gradient(180deg,  #162E33,
#41808D );
}

.credits {
   background: #E0E0E0;
   display: flex;
   justify-content: center;
}

.credits_bgn {
   display: none;
}

.credits-info {
   display: flex;
   flex-direction: column;
   width: 50%;
}

.credits-box{
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-top: 40px;
}

.credits-mobile {
   display: none;
}

.credits-text {
   width: 50%;
}

.credits-text_title {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 20px;
   color: #333333;
}

.credits-text_description {
   font-size: 14px;
   color: #4F4F4F;
}

.credits-img {
   display: block;
   border-radius: 30px;
   box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.85);
}

.credits-bottom {
   margin: 40px 0;
}

.credits-bottom_text {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 20px;
   color: #4F4F4F;
}

.credits-bottom_link {
   color: #BD5D85;
   text-decoration: none;
}

.faq {
   background: #BD925D;
   display: flex;
   justify-content: center;
}

.faq-info {
   width: 60%;
   margin: 20px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}

.faq-part {
   margin: 20px;
   width: 40%;
   display: flex;
   flex-direction: row;
}

.faq-text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.faq-text_title {
   font-weight: 500;
   font-size: 22px;
   color: #ffffff;
}

.faq-text_subtile {
   margin-top: 10px;
   color: #dddddd;
}

.faq-text_fa {
   margin-right: 20px;
   font-size: 30px;
   color: #ffffff;
}

.contact {
   display: block;
   position: relative;
   background: rgba(17, 17, 17, 0.05);
   padding: 30px 0;
}

.contact-forms {
   width: 50%;
   margin: auto;
   padding: 50px;
}

#forms_email {
   width:40%;
   padding:  15px 0 15px 15px;
   border-radius: 40px;
   border: none;
   background: #ffffff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-size: 19px;
}

#forms_btn {
   display: block;
   float: right;
   background: rgba(130,130,130,1);
   width: 41%;
   border-radius: 40px;
   border: none;
   padding:  16px 0;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 600;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#forms_btn:hover {
    color: rgba(130,130,130,1);
    background-color: #ffffff;
    cursor: pointer;
   }

#forms_comment {
   width: 98%;
   margin-top: 40px;
   padding: 15px 0 15px 15px;
   border-radius: 40px;
   border: none;
   background: #ffffff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-size: 19px;
}


@media (max-width: 1200px) {
   .info-text {
      width: 70%;
   }

   .home-btn {
      width: 55%;
      font-size: 19px;
      padding: 19px 90px;
   }

   .home-title {
      font-size: 46px;
   }

   .home-subtitle {
      line-height: 30px;
   }

   .email {
      height: 320vh;
      background-size: 100% 80%;
   }

   .email-part {
      width: 70%;
   }

   .email-part2 {
      height: 20%;
   }

   .part2-info {
      width: 53%;
   }

   .credits-info {
      width: 70%;
   }

   .faq-info {
      width: 75%;
   }

}

@media (max-width: 992px) {
   .home {
      height: 103vh;
   }

   .info-text {
      width: 73%;
   }

   .home-title {
      font-size: 43px;
   }

   .home-subtitle {
      font-size: 26px;
   }

   .home-btn {
      width: 60%;
      font-size: 18px;
      padding: 15px 50px;
   }

   .email-part {
      width: 80%;
   }

   .screen-first {
      width: 90%;
   }

   .part2-info {
      width: 64%;
   }

   .response_text_second {
      margin-top: -70px;
   }

   .credits-info {
      width: 75%;
   }

   .faq-info {
      width: 90%;
   }

   .faq-part {
      margin: 15px;
   }

   .contact-forms {
      width: 60%;
   }

}

@media (max-width: 416px) {
   .ancor {
      border-top: 55px solid transparent;
      margin-top: -55px;
      padding: 15px;
   }

   .home-img {
      display: none;
   }

   .home {
      background: url(../img/bgn-home_mob.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 750px;
   }

   .info-text {
      width: 90%;
      margin-top: 0;
   }

   .home-title {
      font-size: 32px;
      margin-top: -10px;
   }

   .home-subtitle {
      font-size: 20px;
      margin-top: 30px;
   }

   .home-btn {
      width: 90%;
      padding: 15px;
      font-size: 14px;
      border-radius: 10px;
      background: #828282;

   }

   .email {
      background-image: none;
      height: 360vh;
   }
   .email-part {
      width: 90%;
   }

   .description-info {
      width: 100%;
      margin: 20px 0;
   }

   .description_title {
      font-size: 20px;
   }

   .screen-fa {
      display: none;
   }

   .screen-first {
      width: 100%;
      height: 40vh;
   }

   .screen-second_li {
      margin: 0;
      list-style: disc;
   }

   .screen-first_purple, .screen-first_green {
      width: 100%;
      position: relative;
   }

   .screen-exclude {
      display: block;
      margin: 0;
      position: absolute;
      top: 50%;
      right: 50%;
      left: 44%;
      transform: translate(0, -50%)
   }

   .screen-first_p {
      font-size: 30px;
      padding: 13px 20px;
   }

   .email-part2 {
      height: 19%;
   }
   .part2-info {
      flex-direction: column;
      width: 85%;
   }

   .response {
      width: 100%;
      margin: 10px 0;
   }
   .response_text_first, .response_text_third {
      margin-top: 20px;
   }
   .response_text {
      margin-bottom: 65px;
   }

   .credits {
      position: relative;
      background-repeat: no-repeat;
      background-color: #955DBD;
   }

   .credits_bgn {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
   }

   .credits-info {
      width: 90%;
      padding: 40px 0 40px 50px ;
   }

   .credits-img, .credits-bottom {
      display: none;
   }

   .credits-mobile {
      display: block;
      width: 70%;
   }

   .credits-text {
      width: 70%;
   }

   .credits-text_title {
      color: #ffffff;
      font-weight: 500;
      font-size: 25px;
   }

   .credits-text_description {
      color: #ffffff;
   }

   .faq {
      display: none;
   }

   .contact-forms {
      display: flex;
      flex-direction: column;
      width: 85%;
      padding: 30px 0;
   }

   #forms_email {
      order: 1;
      width: 100%;
      border-radius: 30px;
      font-size: 16px;
   }

   #forms_comment {
      order: 2;
      width: 100%;
      margin-bottom: 40px;
      border-radius: 30px;
      font-size: 16px;
   }

   #forms_btn {
      margin-top: 40px;
      order: 3;
      width: 103%;
      margin: auto;
      border-radius: 30px;
      font-size: 20px;
   }

   .screen-mobile {
      display: flex;
      flex-direction:row;
      padding-left:20px;
      color: #333333;
      font-weight: 500;
      margin-bottom: 25px;
   }

   .screen-mobile_fa {
      margin-right: 20px;
      color: #000000;
   }

   .screen-mobtext_title {
      margin-bottom: 10px;
      font-weight: 600;
      text-transform: uppercase;
   }

   .screen-mobtext_subtitle {
      font-size: 15px;
   }
}

@media (max-width: 768px) {
   .home-img {
      display: none;
   }

   .home {
      background: url(../img/bgn-home_mob.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 700px;
   }

   .info-text {
      width: 90%;
   }

   .home-title {
      font-size: 32px;
   }

   .home-subtitle {
      font-size: 20px;
   }

   .home-btn {
      width: 90%;
      padding: 15px;
      font-size: 14px;
      border-radius: 10px;
      background: #828282;

   }

   .email {
      background-image: none;
      height: 360vh;
   }
   .email-part {
      width: 90%;
   }

   .description-info {
      width: 100%;
      margin: 20px 0;
   }

   .description_title {
      font-size: 20px;
   }

   .screen-fa {
      display: none;
   }

   .screen-first {
      width: 100%;
      height: 40vh;
   }

   .screen-second_li {
      margin: 0;
      list-style: disc;
   }

   .screen-first_purple, .screen-first_green {
      width: 100%;
      position: relative;
   }

   .screen-exclude {
      display: block;
      margin: 0;
      position: absolute;
      top: 50%;
      right: 50%;
      left: 44%;
      transform: translate(0, -50%)
   }

   .screen-first_p {
      font-size: 30px;
      padding: 13px 20px;
   }

   .email-part2 {
      height: 19%;
   }
   .part2-info {
      flex-direction: column;
      width: 85%;
   }

   .response {
      width: 100%;
      margin: 10px 0;
   }
   .response_text_first, .response_text_third {
      margin-top: 20px;
   }
   .response_text {
      margin-bottom: 65px;
   }

   .credits {
      position: relative;
      background-repeat: no-repeat;
      background-color: #955DBD;
   }

   .credits_bgn {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
   }

   .credits-info {
      width: 90%;
      padding: 40px 0 40px 50px ;
   }

   .credits-img, .credits-bottom {
      display: none;
   }

   .credits-mobile {
      display: block;
      width: 70%;
   }

   .credits-text {
      width: 70%;
   }

   .credits-text_title {
      color: #ffffff;
      font-weight: 500;
      font-size: 25px;
   }

   .credits-text_description {
      color: #ffffff;
   }

   .faq {
      display: none;
   }

   .contact-forms {
      display: flex;
      flex-direction: column;
      width: 85%;
      padding: 30px 0;
   }

   #forms_email {
      order: 1;
      width: 100%;
      border-radius: 30px;
      font-size: 16px;
   }

   #forms_comment {
      order: 2;
      margin-bottom: 40px;
      border-radius: 30px;
      font-size: 16px;
   }

   #forms_btn {
      margin-top: 40px;
      order: 3;
      width: 104%;
      margin: auto;
      border-radius: 30px;
      font-size: 20px;
   }

   .screen-mobile {
      display: flex;
      flex-direction:row;
      padding-left:20px;
      color: #333333;
      font-weight: 500;
      margin-bottom: 25px;
   }

   .screen-mobile_fa {
      margin-right: 20px;
      color: #000000;
   }

   .screen-mobtext_title {
      margin-bottom: 10px;
      font-weight: 600;
      text-transform: uppercase;
   }

   .screen-mobtext_subtitle {
      font-size: 15px;
   }}
