* {
   margin: 0;
   padding: 0;
}

.poppins {
   font-family: 'Poppins', sans-serif;
}

.header {
   background:#333332;
   display: flex;
   justify-content: flex-end;
   position: fixed;
   width: 100%;
   z-index: 100;
   box-shadow: 0px 1px 20px rgb(67 76 88 / 85%);
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#333332;
  z-index: 2;
}

.header_body {
  width: 95%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  display: flex;
  flex-direction: row;
  z-index: 5;
  align-items: center;
  list-style: none;
}

.header_burger {
  display: none;
}


.container {
   display: flex;
   width: 52%;
   justify-content: space-between;
   align-items: center;
}

.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 3;
   padding: 10px 0 10px 0;
}

.logo-img {
   height: 45px;
}

.menu-item {
   list-style: none;
   text-decoration: none;
   margin-left: 50px;
   color: #828282;
   font-size: 20px;
}

.menu-item:hover {
   color: #ffffff;
}


main {
   background:#e1e1e133;
}

footer {
   background-image: url(../img/Footer_image.png);
   background-color: #f2f2f2e0;
   background-size: 100% 105%;
   background-repeat: no-repeat;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.footer-basis {
   display: flex;
   width: 50%;
   flex-direction: column;
   padding: 50px 0;
}

.basis-info {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.basis-text {
   text-align: center;
   padding: 150px 0 50px 0;
}

.basis-text_sense {
   color: #fff;
   font-size: 22px;
   font-weight: 500;
   line-height: 35px;
}

.basis-links {
   display: block;
   text-align: center;
}

.basis-link_addition {
   color: #b5b5b5;
   text-decoration: none;
   line-height: 50px;
   font-weight: 500;
   font-size: 20px;
}

.basis-link_addition:hover {
   cursor: pointer;
   color: #ffffff;
}

.footer-copyright {
   display: flex;
   width: 50%;
   border-top: 3px #cccccc1f double;
   padding: 10px 0;
   margin-bottom: 50px;
   color: #BDBDBD;
   justify-content: center;
}

.footer-copyright_link {
   text-decoration: none;
   color: #BDBDBD;
   margin-left: 50px;
}

.footer-copyright_link:hover {
   color: #ffffff;
}

@media only screen and (min-width : 1624px) {
   .logo {
      padding: 15px 0 15px 0;
   }

   .menu-item {
      font-size: 25px;
   }

   .footer-basis {
      width: 40%;
   }

   .basis-text_sense, .basis-text_sense {
      font-size: 25px;
   }

   .footer-copyright_link {
      margin-left: 70px;
   }

   .footer-copyright {
      font-size: 20px;
   }

}

@media (max-width: 865px) {
  header {
      padding: 8px 0;
   }

  .logo-img {
      height: 35px;
   }

  .header_burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
   }

  .header_burger::before, .header_burger::after {
      content: '';
      background: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }

  .header_burger::before {
      top: 0;
  }

  .header_burger::after {
      bottom: 0;
  }

  .header_burger span {
      content: '';
      background: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
  }

  .header_burger.active:before {
      transform: rotate(45deg);
      top:9px;
  }

  .header_burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
  }

  .header_burger.active span {
      transform: scale(0);
      transition: all 0.3s ease 0s;
  }

  .header_menu {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: -100%;
      padding: 70px 0 0 0;
      left: 0;
      width: 100%;
      height: 35%;
      background-color: #333333;
      transition: all 0.3s ease 0s;
      z-index: 1;
  }

  .header_menu.active li {
      font-size: 30px;
      padding: 20px 0 0  0;
      text-transform: uppercase;
  }

  .header_menu.active {
      top: 0;
  }

   footer {
      background-image: url(../img/Union.png);
      justify-content: flex-start;
   }

   .footer-basis {
      width: 100%;
   }

   .basis-info {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .basis-text {
      width: 70%;
      padding: 80px 0 50px 0;
   }

   .basis-text_sense {
      font-size: 18px;
      line-height: 27px;
   }

   .basis-links {
      width: 100%;
   }

   .footer-copyright {
      width: 80%;
      align-items: center;
   }

   .footer-copyright_link {
      margin-left: 20px;
   }
}

@media (max-width: 416px) {
   .footer-copyright {
      flex-direction: column;
   }

   .footer-copyright_link {
      margin: 0;
   }
}


.ancor {
   border-top: 55px solid transparent;
   margin-top: -55px;
   padding: 15px;
}

.home {
   display: block;
   position: relative;
   height: 105vh;
   background-image: url(../img/home_bgn.png);
   background-repeat:no-repeat;
   background-size:auto 110%;
}

.home-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   width: 100%;
   margin-top: 80px;
}

.info-text {
   width: 50%;
   margin-top: 50px;
}

.home-title {
   color: #FFFFFF;
   font-weight: 600;
   font-size: 48px;
   margin-left: 20px;
}

.home-title2 {
   margin-bottom: 30px;
}

.home-subtitle {
   color: #BDBDBD;
   font-weight: 600;
   font-size: 28px;
   margin-left: 20px;
}

.home-btn {
   margin: 35px 0;
   border-radius: 20px;
   border: none;
   width: 45%;
   font-weight: 700;
   font-size: 20px;
   text-transform: uppercase;
   color: #fff;
   background:  #BDBDBD;
   padding: 20px 90px;
}

.home-btn_fa{
   color: #ffffff;
   margin-left: 10px;
}

.home-btn:hover {
   background: #8252A4;
   color: #ffffff;
}

.description {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 86%;
}

.description_title {
   font-weight: 600;
   font-size: 31px;
   margin: 10px 0;
   color: #333333;
}

.description_subtitle {
   font-weight: 500;
   font-size: 15px;
   color: #333333;
}

.email {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.email-part {
   display: flex;
   flex-direction: column;
   width: 60%;
}

.part-screen {
   display: flex;
   flex-direction: column;
   margin: 20px 0;
   width: 90%;
}

.screen-first {
   display: flex;
   height: 55vh;
}

.screen-first_purple {
   display: block;
   width: 100%;
   background: linear-gradient(180deg,  #291934,
 #955DBD);
}

.screen-exclude {
   display: none;
}

.screen-first_p {
   font-weight: 500;
   font-size: 30px;
   color: #ffffff;
   text-transform: uppercase;
   padding: 40px 90px;
}

.screen-second {
   display: flex;
   flex-direction: row;
   margin: 30px 0;
}

.screen-hide {
   display: flex;
   flex-direction: row;
}

.screen-mobile {
   display: flex;
   flex-direction: row;
   padding-right: 25px;
   color: #333333;
   font-weight: 500;
   margin-bottom: 25px;
}

.screen-img_icon {
   width: 40px;
   height: 40px;
   margin: 0 20px 0 0;
}

.screen-mobtext {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.screen-mobtext_title {
   margin-bottom: 10px;
   font-weight: 600;
   text-transform: uppercase;
}

.screen-mobtext_subtitle {
   font-size: 15px;
   margin: 15px 0 0 -50px;

}

.screen-second_li {
   list-style: disc;
   color: #4F4F4F;
   font-weight: 500;
   font-size: 17px;
}

.email-part2 {
   display: flex;
   align-items: center;
   justify-content: center;
   background: #BDBDBD;
   width: 100%;
}

.part2-info {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 50%;
   padding: 70px 0;
}

.response {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   width: 29%;
   border-radius: 21px;
   background: rgba(255,255,255,0.8);
   box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.3);
}

.response_text {
   font-size: 16px;
   margin: 30px 10px 90px 10px;
   text-align: center;
   font-weight: 600;
}

.response_text_third {
   margin-top: 50px;
}

.response_text_second{
   margin-top:-90px;
}

.response_text_first {
   margin-top: 60px;
}

.response-stars {
   display: block;
   position: absolute;
   bottom: 40px;
}

.response-stars_fa {
   color: #BD615D;
   font-size: 14px;
   margin-right: -4px;
}

.response_date {
   display: block;
   position: absolute;
   bottom: 13px;
   color: #828282;
   font-weight: 400;
   font-size: 13px;
}

.screen-first_green {
   display: block;
   width: 100%;
   background: linear-gradient(180deg,  #162E33, #41808D );
}

.credits {
   background-color: #955DBD;
   display: flex;
   justify-content: center;
   position: relative;
   overflow: hidden;
}

.credits_bgn1 {
   display: block;
   position: absolute;
   left: -20px;
   width: 35%;
}

.credits_bgn2 {
   display: none;
}

.credits-info {
   display: flex;
   flex-direction: column;
   width: 70%;
   align-items: center;
   z-index: 5;
}

.credits-box{
   display:flex;
   flex-direction: column;
   align-items: center;
   margin: 20px 0 30px 0;
}

.credits-text {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 70%;
   margin: 0 0 30px 0;
}

.credits-text_title {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 20px;
   color: #ffffff;
   width: 30%;
}

.credits-text_description {
   font-size: 14px;
   color: #ffffff;
   text-align: end;
   width: 50%;
   float: right;
}

.credits-img {
   display: block;
   width: 40%;
   border-radius: 10px;
}

.credits-img:hover {
   box-shadow: 0px 1px 20px rgba(67 76 88 / 85%);
}

.credits-bottom {
   display: flex;
   width: 70%;
   flex-direction: row;
   justify-content: space-between;
   margin: 20px 0;
}

.contact {
   display: block;
   position: relative;
   background-color: #f2f2f2e0;
   padding: 30px 0;
}

.contact-forms {
   width: 40%;
   margin: auto;
   padding: 50px;
}

#forms_email {
   width: 97%;
   padding:  15px 0 15px 15px;
   border-radius: 40px;
   border: none;
   background: #ffffff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-size: 19px;
   outline: none;
}

#forms_btn {
   display: block;
   float: right;
   background: rgba(130,130,130,1);
   width: 100%;
   border-radius: 40px;
   border: none;
   padding:  16px 0;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 600;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#forms_btn:hover {
    color: rgba(130,130,130,1);
    background-color: #ffffff;
    cursor: pointer;
}

#forms_comment {
   width: 98%;
   margin: 40px 0;
   padding: 15px 0 15px 15px;
   border-radius: 40px;
   border: none;
   background: #ffffff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-size: 19px;
   outline: none;
}

@media (min-width : 1924px) {
   .home {
      height: 50vh;
      background-size: 110% 110%;
   }

   .email-part {
      width: 55%;
   }

   .screen-first {
      height: 40vh;
   }

   .description_title {
      font-size: 33px;
   }

   .description_subtitle {
      font-size: 19px;
   }

   .screen-second_li {
      font-size: 19px;
   }

   .screen-mobtext_title {
      font-size: 19px;
   }

   .screen-mobtext_subtitle {
      font-size: 17px;
   }

   .response_text {
      font-size: 20px;
   }

   .response_data {
      font-size: 16px;
   }

   .credits-info {
      width: 60%;
   }

   .credits-box {
      width: 100%;
   }

   .credits-text_title {
      font-size: 25px;
   }

   .credits-text_description {
      font-size: 17px;
   }

   #forms_email {
      padding: 20px 0 20px 15px;
      font-size: 25px;
   }

   #forms_comment {
      padding: 20px 0 20px 15px;
      font-size: 25px;
   }

   #forms_btn {
      padding: 20px 0 20px 15px;
      font-size: 28px;
   }
}


@media (max-width: 1200px) {
   .info-text {
      width: 70%;
   }

   .home-btn {
      width: 55%;
      font-size: 19px;
      padding: 19px 90px;
   }

   .home-title {
      font-size: 45px;
   }

   .home-subtitle {
      line-height: 30px;
   }

   .part2-info {
      width: 53%;
   }

   .credits-info {
      width: 70%;
   }

}

@media (max-width: 992px) {
   .home {
      height: 103vh;
   }

   .info-text {
      width: 73%;
   }

   .home-title {
      font-size: 43px;
   }

   .home-subtitle {
      font-size: 26px;
   }

   .home-btn {
      width: 60%;
      font-size: 18px;
      padding: 15px 50px;
   }

   .email-part {
      width: 80%;
   }

   .screen-first {
      width: 90%;
   }

   .part2-info {
      width: 64%;
   }

   .response_text_second {
      margin-top: -70px;
   }

   .credits-info {
      width: 75%;
   }

   .contact-forms {
      width: 60%;
   }

}

@media (max-width: 865px) {

   .home {
      background: url(../img/home_bgn.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 500px;
   }

   .info-text {
      width: 95%;
      margin-top: 15px;
   }

   .home-title {
      font-size: 32px;
   }

   .home-subtitle {
      font-size: 19px;
   }

   .home-btn {
      width: 90%;
      padding: 15px;
      font-size: 14px;
      border-radius: 10px;
      background: #828282;
   }

   .email-part {
      width: 95%;
      align-items: center;
   }

   .description-info {
      width: 100%;
      margin: 20px 0;
   }

   .description_title {
      font-size: 20px;
   }

   .part-screen, .description {
      width: 100%;
   }

   .screen-first {
      width: 100%;
      height: 40vh;
   }

   .screen-first_purple, .screen-first_green {
      width: 100%;
      position: relative;
   }

   .screen-first_p {
      font-size: 30px;
      padding: 13px 20px;
   }

   .email-part2 {
      height: 19%;
   }

   .part2-info {
      flex-direction: column;
      width: 95%;
      padding: 25px 0;
   }

   .response {
      width: 100%;
      margin: 10px 0;
   }

   .response_text_first, .response_text_third {
      margin-top: 20px;
   }

   .response_text {
      margin-bottom: 65px;
   }

   .credits-img {
      width: 60%;
   }

   .credits_bgn1 {
      top: 0;
      left: -30%;
      width: 400px;
   }

   .credits_bgn2 {
      display: block;
      position: absolute;
      bottom: -25%;
      right: -25%;
      width: 300px;
   }

   .credits-info {
      width: 100%;
      padding: 0;
   }

   .credits-text {
      width: 90%;
   }

   .credits-text_title {
      font-weight: 500;
      font-size: 23px;
   }

   .credits-text_description {
      font-size: 13px;
   }

   .contact-forms {
      width: 65%;
      padding: 20px 0 50px 0;
   }
}

@media (max-width: 566px) {

   .credits_bgn1 {
      top: 0;
      left: -46%;
      width: 370px;
   }
}


@media (max-width: 416px) {
   .ancor {
      border-top: 55px solid transparent;
      margin-top: -55px;
      padding: 15px;
   }

   .home-img {
      display: none;
   }

   .home {
      background: url(../img/bgn-home_mob.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 720px;
   }

   .info-text {
      width: 90%;
      margin-top: 20px;
   }

   .home-title {
      font-size: 32px;
      margin-top: -10px;
   }

   .home-subtitle {
      font-size: 20px;
      margin-top: 30px;
   }

   .home-btn {
      width: 90%;
      padding: 15px;
      font-size: 14px;
      border-radius: 10px;
      background: #828282;
   }

   .email {
      background-image: none;
   }
   .email-part {
      width: 90%;
   }

   .description {
      width: 100%;
      margin: 20px 0;
   }

   .description_title {
      font-size: 20px;
   }

   .screen-hide {
      display: flex;
      flex-direction: column;
   }

   .screen-first {
      width: 100%;
      height: 40vh;
   }

   .screen-first_purple, .screen-first_green {
      width: 100%;
      position: relative;
   }

   .screen-first_p {
      font-size: 30px;
      padding: 13px 20px;
   }

   .part2-info {
      flex-direction: column;
      width: 85%;
   }

   .response {
      width: 100%;
      margin: 10px 0;
   }

   .response_text_first, .response_text_third {
      margin-top: 20px;
   }

   .response_text {
      margin-bottom: 65px;
   }

   .credits_bgn1 {
      display: none;
   }

   .credits_bgn2 {
      display: block;
      position: absolute;
      bottom: -10%;
      right: -20%;
      width: 200px;
   }

   .credits-img {
      width: 85%;
   }

   .credits-info {
      width: 100%;
      padding: 0;
   }

   .credits-text {
      width: 80%;
      flex-direction: column;
      justify-content: space-between;
   }

   .credits-text_title {
      font-weight: 500;
      font-size: 25px;
      width: 70%;
   }

   .credits-text_description {
      width: 70%;
      margin-left: 30%;
   }

   .credits-bottom {
      flex-direction: column;
   }

   .contact-forms {
      display: flex;
      flex-direction: column;
      width: 85%;
      padding: 30px 0;
   }
   .screen-mobile {
      padding: 0;
   }
}

.main {
   background-color:#f2f2f2e0;
   color:#4F4F4F;
   position: relative;
}

.main-info {
   width: 50%;
   margin: auto;
   padding-top: 300px;
   padding-bottom: 50px;
}

.main-info_title {
   font-weight: 600;
   font-size: 42px;
   margin-bottom: 5px;
}

.main-info_subtitle {
   margin: 15px 0;
   font-size: 18px;
   font-weight: 600;
}

.main-info_link {
   text-decoration: none;
   color: #454545;
    font-weight: 600;
}

.main-info_link:hover {
   color: #56888e;
   cursor: pointer;
}

.main-info_description {
   font-size: 15px;
   font-weight: 400;
   margin: 10px 0;
}

.main-info_description2 {
   margin-top: 10px;
}

.main-info_description3 {
   margin-bottom: 10px;
}

.info-list_rule {
   list-style: none;
   font-size: 15px;
   font-weight: 400;
}

#info-list_rule {
   list-style-type: upper-roman;
   margin-left: 15px;
}

.info-list2_rule {
   margin-left: 17px;
}

#last_description {
   margin: 0;
}

@media (max-width: 1024px) {
   .main-info {
      width: 50%;
      padding-top: 200px;
   }
}

@media (max-width: 768px) {
   .main-info {
      width: 70%;
      padding-top: 150px;
   }
}

@media (max-width: 416px) {
   .main-info {
      width: 90%;
      paddin-top: 100px;
      margin:0 20px;
   }

   .main-info_title {
      font-size: 35px;
   }

   .main-info_subtitle {
      font-size: 17px;
   }
}
