* {
   margin: 0;
   padding: 0;
}

.poppins {
   font-family: 'Poppins', sans-serif;
}

header {
   background:#333333;
   display: flex;
   justify-content: flex-end;
   position: fixed;
   width: 100%;
   z-index: 10;
}

main {
   background:#e1e1e133;
}

.header-main {
   display: flex;
   width: 52%;
   justify-content: space-between;
}

.logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo-img {
   height: 45px;
}

.menu {
   display: flex;
   font-weight: 600;
   padding: 25px 45px;
   color: #828282;
   font-size: 20px;
}

.menu-item {
   list-style: none;
   margin-left: 50px;
}

.menu-item:hover {
   color: #ffffff;
}

.home {
   display: block;
   position: relative;
   height: 100vh;
}
.home-img {
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.home-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   width: 100%;
   margin-top: 80px;
   height: 90vh;
   background: linear-gradient(180deg,  #050505ed, #8d8d8dd6);
}

.info-text {
   width: 50%;
   margin-top: 50px;
}

.home-title {
   color: #FFFFFF;
   font-weight: 600;
   font-size: 48px;
   margin-bottom: 15px;
   margin-left: 20px;
}

.home-subtitle {
   color: #BDBDBD;
   font-weight: 600;
   font-size: 28px;
   margin-left: 20px;
}

.home-btn {
   margin: 35px 0;
   border-radius: 20px;
   border: none;
   width: 35%;
   font-weight: 700;
   font-size: 18px;
   text-transform: uppercase;
   color: #fff;
   background:  #BDBDBD;
   padding: 15px 90px;
}

.home-btn_fa{
   color: #ffffff;
   margin-left: 10px;
}

.home-btn:hover {
   background: #8252A4;
   color: #ffffff;
}

.description {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.description-info {
   width: 80%;
   margin: 30px 0;
}

.description_title {
   font-weight: 600;
   font-size: 32px;
   margin: 10px 0;
   color: #333333;
}

.description_description {
   font-weight: 500;
   font-size: 20px;
   color: #333333;
}

.email {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image:url(img/at-sign.png);
   background-size: 100% 88%;
   background-repeat: no-repeat;
   height:  260vh;
}
.email-part {
   display: flex;
   flex-direction: column;
   width: 60%;
   align-items: center;
}

.part-info {
   display: flex;
   width: 100%;
   flex-direction: column;
}

.part-screen {
   display: flex;
   flex-direction: column;
   margin: 20px 0;
}

.screen-first {
   display: flex;
   flex-direction: row;
   height: 50vh;
   width: 85%;
}

.screen-first_fa {
   color: #7d7878;
   font-size: 60px;
   margin-right: 40px;
   margin-top: 20px;
}

.screen-first_purple {
   display: block;
   width: 90%;
   background: linear-gradient(180deg,  #291934,
 #955DBD);
}

.screen-first_p {
   font-weight: 500;
   font-size: 22px;
   color: #ffffff;
   text-transform: uppercase;
   padding: 40px 90px;
}

.screen-second {
   display: flex;
   flex-direction: row;
   margin: 30px 0;
}

.fa-at {
   margin-right: 40px;
}

.screen-second_fa {
   color: #7d7878;
   font-size: 50px;
   font-weight: 300;
}

.screen-second_div {
   margin-top: 10px;
}

.screen-second_p {
   color: #4F4F4F;
   font-weight: 500;
   font-size: 17px;
}

.email-part2 {
   display: flex;
   align-items: center;
   justify-content: center;
   background: #BDBDBD;
   height:22%;
   width: 100%;
}

.part2-info {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 45%;
   height: 65%;
   padding: 90px 0;
}

.response {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   width: 29%;
   border-radius: 21px;
   background: rgba(255,255,255,0.8);
   box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.3);
}

.response_text {
   font-size: 16px;
   margin: 30px 10px 90px 10px;
   text-align: center;
   font-weight: 600;
}

.response_text_third {
   margin-top: 50px;
}

.response_text_first {
   margin-top: 60px;
}

.response-stars {
   display: block;
   position: absolute;
   bottom: 40px;
}

.response-stars_fa {
   color: #BD615D;
   font-size: 14px;
   margin-right: -4px;
}

.response_date {
   display: block;
   position: absolute;
   bottom: 13px;
   color: #828282;
   font-weight: 400;
   font-size: 13px;
}

.screen-first_green {
   display: block;
   width: 90%;
   background: linear-gradient(180deg,  #162E33,
#41808D );
}

.credits {
   background: #E0E0E0;
   display: flex;
   justify-content: center;
}

.credits-info {
   display: flex;
   flex-direction: column;
   width: 50%;
}

.credits-box{
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-top: 40px;
}

.credits-text {
   width: 50%;
}

.credits-text_title {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 20px;
   color: #333333;
}

.credits-text_description {
   font-size: 14px;
   color: #4F4F4F;
}

.credits-img {
   display: block;
   border-radius: 30px;
   box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.85);
}

.credits-bottom {
   margin: 40px 0;
}

.credits-bottom_text {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 20px;
   color: #4F4F4F;
}

.credits-bottom_link {
   color: #BD5D85;
   text-decoration: none;
}

.faq {
   background: #BD925D;
   display: flex;
   justify-content: center;
}

.faq-info {
   width: 60%;
   margin: 20px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}

.faq-part {
   margin: 20px;
   width: 40%;
   display: flex;
   flex-direction: row;
}

.faq-text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.faq-text_title {
   font-weight: 500;
   font-size: 22px;
   color: #ffffff;
}

.faq-text_subtile {
   margin-top: 10px;
   color: #dddddd;
}

.faq-text_fa {
   margin-right: 20px;
   font-size: 30px;
   color: #ffffff;
}

.contact {
   display: block;
   position: relative;
   background: rgba(0, 0, 0, 0.03);
   padding: 30px 0;
}

.contact-forms {
   width: 50%;
   margin: auto;
   padding: 50px;
}

.contact-img {
   display: block;
   position: absolute;
   width: 35%;
   height: 800px;
   right: 0;
   top: -100px;
}

#forms_email {
   width:40%;
   padding:  15px 0 15px 15px;
   border-radius: 40px;
   border: none;
   background: #ffffff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#forms_btn {
   display: block;
   float: right;
   background: rgba(130,130,130,1);
   width: 41%;
   border-radius: 40px;
   border: none;
   padding:  15px 15px;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 600;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#forms_comment {
   width: 100%;
   margin-top: 40px;
   padding: 15px 0 15px 15px;
   border-radius: 40px;
   border: none;
   background: #ffffff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
   background-image: url(img/Footer_image.png);
   background-color: rgba(0, 0, 0, 0.05);
   background-size: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.footer-basis {
   display: flex;
   width: 50%;
   flex-direction: column;
   padding: 50px 0;
}

.basis-info {
   display: block;
   position: relative;
   padding: 150px 0;
}

.basis-text {
   width: 40%;
   position: absolute;
   left: 0px;
}
.basis-text_sense {
   color: #E0E0E0;
   font-size: 18px;
   line-height: 27px;
}

.basis-links {
   display: block;
   position: absolute;
   right: 0px;
}

.basis-links p {
   text-align: right;
}

.basis-link_addition {
   color: #E0E0E0;
   text-decoration: none;
   text-align: right;
   line-height: 50px;
   font-size: 18px;
}

.basis-link_addition:hover {
   cursor: pointer;
   color: #ffffff;
}
.footer-copyright {
   width: 50%;
   border-top: 3px #cccccc1f double;
   padding: 10px 0;
   margin-bottom: 50px;

}

.footer-copyright_text {
   color: #E0E0E0;
   margin-right: 50px;
}

.footer-copyright_link
{
   color: #E0E0E0;
   text-decoration: none;
   margin-right: 50px;
}

.footer-copyright_link:hover {
   color: #ffffff;
}
